{% extends "layout.html" %}

{% block content %}


<div>
    <h2 style="color: orangered;">Free YouTube Tag Tag Finder </h2>
</div>


<br>

<div class="row">
    <div class="col-md-8 col-sm-12">

        Welcome! We built this <strong>FREE</strong> tool to help increase traffic to your YouTube channel. First, enter a <a href="/search">search phrase</a> related to your channel such as 
        "quick home workout", "solve vector dot product", "vegan brownies", etc. The tool will extract the <u>10 most common tags from the top 50 videos based on that search phrase</u>.

        <br><br>
        You can add the relevant tags to your videos which will help the YouTube algorithms understand your content and recommend your videos ultimately <u>increasing traffic</u> to your channel! 
        The tool will also check if your related videos already have these tags and give you a "score" to let compare how you are doing compared to those top 50 videos. Add more tags to increase your score.

        <br><br>
        What are you waiting for? <a href="/search">Search</a> for a phrase, add the top tags and watch your channel grow!

    </div>

    <div class="col-md-4 col-sm-12">
        <a href="/search"><img class="card-img-top" style="margin: 75px auto 0px auto;display: block;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594864974/YT%20Analysis/youtube_search.png" alt="Enter a search phrase"></a>

    </div>
</div>
<br>
<br>



<div class="row" style=" background: #444; height: 100px;">
    <p class="text-center" style="color: white; font-size: 20px; font-weight: bolder; font-family: unset; display: block; margin: 30px 20px;">
        Find top tags and add them to your videos. Search now for Free!
        <button type="button" class="btn btn-secondary btn-lg" style="float: right; margin-right: 30px; margin-top: -10px">Search</button>
    </p>
</div>


<!--
<style>
    .img {
        margin: 0 auto;
        margin-bottom: 15px;
        vertical-align: baseline;
    }

    .img_bord {
        border: solid 2px;
        border-color: black;
    }
</style>
<div class="jumbotron" style="text-align: center; padding:10px 5px; background-color: red;">
    <h1 style="color: white">YouTube Tag Finder</h1>
    <p class="lead" style="color: white">Add popular tags to your YouTube videos to get more views!</p>
</div>


<div class="row">

    <div class="col-md-4">
        <img class="card-img-top" style="width:225px; margin-top:50%;margin: 93px auto 0px auto;display: block;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594864974/YT%20Analysis/youtube_search.png" alt="Enter a search phrase">

    </div>
    <div class="col-md-4">
        <img class="card-img-top" style="width:225px; height:225px;margin: 0px auto;display: block;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594865090/YT%20Analysis/top_tags.png" alt="Get Top Tags">

    </div>
    <div class="col-md-4">
        <img class="card-img-top" style="width:225px; height:225px;margin: 0px auto;display: block;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594866448/YT%20Analysis/add_tags.png" alt="Add Top Tags">

    </div>

</div>

<div class="row">

    <div class="col-md-4 text-center">
        <h4 class="card-title">Enter Search Phrase</h4>
        <p class="card-text"><a href="">Enter search phrases related to your channel.</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="card-title">Top Tags</h4>
        <p class="card-text">We find the top tags from the top videos for that search phrase.</p>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="card-title">Increase Views</h4>
        <p class="card-text">Increase traffic to your by adding the top tags.</p>
    </div>

</div>



<div class="row">

    <div class="col-md-6 col-sm-12">
        <br />
        <p>
            By adding relevant, popular tags to your videos, they are more likely to appear as recommendations from the YouTube algorithms.
            Use the Tag Finder tool by entering a search phrase related to your channel. The <strong>FREE</strong> tool will show you the top tags used
            from the top ranked videos. You can then add the relevant tags to your relevant videos and watch your views grow!

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm4.5 5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6.707l-4.146 4.147a.5.5 0 0 1-.708-.708L9.293 6H6.5a.5.5 0 0 1 0-1z" />
            </svg>

        </p>

    </div>

</div>


<div class="row">
    <div class="card col-md-4 col-sm-12" style="width:33%;">
        <img class="card-img-top" style="width:100%;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594864974/YT%20Analysis/youtube_search.png" alt="Enter a search phrase">
        <div class="row">
            <div class="card-body">
                <h4 class="card-title">Enter Search Phrase</h4>
                <p class="card-text">Enter search phrases related to your channel.</p>
            </div>
        </div>
    </div>
    <div class="card col-md-4 col-sm-12" style="width:33%;">
        <img class="card-img-top" style="width:100%;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594865090/YT%20Analysis/top_tags.png" alt="Get Top Tags">
        <div class="row">
            <div class="card-body">
                <h4 class="card-title">Top Tags</h4>
                <p class="card-text">We find the top tags from the top videos for that search phrase.</p>
            </div>
        </div>
    </div>

    <div class="card col-md-4 col-sm-12" style="width:33%;">
        <img class="card-img-top" style="width:100%;" src="https://res.cloudinary.com/dwiezaou9/image/upload/v1594866448/YT%20Analysis/add_tags.png" alt="Add Top Tags">
        <div class="row">
            <div class="card-body">
                <h4 class="card-title">Increase Views</h4>
                <p class="card-text">Increase traffic to your by adding the top tags.</p>
            </div>
         </div>
    </div>


</div>
-->
{% endblock %}
